<!DOCTYPE html>
<html ng-app="todo">
<head>
  <title>TodoRG</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
   <div id="user-widget" class="white">
      Welcome <strong><%= current_user.name %></strong>! <%= link_to "Sign out", signout_path, id: "sign_out" %>
   </div>
<% end %>



<div ng-view>
  <%= yield %>
</div>

</body>
</html>
