<!DOCTYPE html>
<html ng-app="todo">
<head>
  <title>TodoRG</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user-widget" class="white">
  <% if current_user %>
      Welcome <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <<% else %>
    <!--  <a href="" id="sign_in">login via fb</a> -->
  <% end %>
  <!-- <%= session.to_json.html_safe? %> -->
</div>


<div ng-view>
  <%= yield %>
</div>

</body>
</html>
